/* Réinitialisation des styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Styles des diapositives */
  .mySlides1,
  .mySlides2 {
    display: none;
  }
  
  /* Alignement vertical pour les images */
  img {
    vertical-align: middle;
  }
  
  /* Conteneur du diaporama */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Styles des boutons précédent et suivant */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Positionnement du bouton "suivant" à droite */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* Ajout d'une couleur de fond gris clair au survol des boutons */
  .prev:hover,
  .next:hover {
    background-color: #f1f1f1;
    color: black;
  }
  
  /* Afficher les boutons lorsque la souris survole la zone du diaporama */
  .slideshow-container:hover .prev,
  .slideshow-container:hover .next {
    visibility: visible;
  }
  